*{
    font-family: 'Comic Sans Ms';
    background-color: #F6F1EE;
    color: #272320;
}

.heading{
    background-color: #dd7129;
    color:#191614;
}

h1{
    background-color: #dd7129;
    color: 191614;
}

a{
    text-decoration: none;
}

video{
    display: block;
    margin: auto;
}

hr{
    width: 100%;
    background-color: black;
    height: 2px;
}

h3{
    text-decoration: underline wavy black;
}
